<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.gc099printer" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GC099Printer</name>
    <js-module name="GC099Printer" src="www/GC099Printer.js">
        <clobbers target="gc099Printer" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GC099Printer">
                <param name="android-package" value="cordova.plugin.gc099printer.GC099Printer" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/GC099Printer.java" target-dir="src/cordova/plugin/gc099printer/GC099Printer" />
        <source-file src="src/android/UsbPrManger.java" target-dir="src/cordova/plugin/gc099printer/UsbPrManger" />
<source-file src="src/android/comon/error/DFDF1.java" target-dir="src/cordova/plugin/gc099printer/comon/error/DFDF1" />
<!-- <source-file src="src/android/com/posin/filebrowser/FileBrowser.java" target-dir="src/cordova/plugin/gc099printer/com/posin/filebrowser/FileBrowser" />
<source-file src="src/android/com/posin/filebrowser/FileBrowserAdapter.java" target-dir="src/cordova/plugin/gc099printer/com/posin/filebrowser/FileBrowserAdapter" /> -->

<lib-file src="src/android/libs/HdxUtil.jar" />
<lib-file src="src/android/libs/usb_sdk_print_099.jar" />
    </platform>
</plugin>